<style>
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  #gameContainer {
    width: 100vw;
    height: 100vh;
    background: black;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
</style>
